{% extends "base.html" %}
{% block title %}AO Labourer tool{% endblock %}

{% block header %}
<div class="container" style = "padding-top: 10px;">
  <div class="d-flex justify-content-center">
    <h1>This tool has been taken down. It was dependent on the Albion Data Project for item market values, but this project has been under attack since May 2021 and is no longer functional. To ease server burdens on the data project team this tool will be taken down.</h1>
  </div>
</div>
{% endblock %}


{% block body %}

{% endblock %}

{% block script %}
</script>
{% endblock %}

